.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 9999;
    background-color: rgba(10, 10, 13, 0.7); 
    backdrop-filter: blur(20px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.logo span {
    color: #00f2fe;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.4s;
}

.nav-links a:hover {
    color: #00f2fe;
}

.hire-btn {
    padding: 8px 24px;
    border: none;
    border-radius: 40px;
    background: #00f2fe;
    color: #060608;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    transition: 0.35s;
}

.hire-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0, 242, 254, 0.35);
}

.hamburger {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.hamburger:hover {
    color: #00f2fe;
}

/* =======================
   MOBILE NAV RESPONSIVENESS
======================= */
@media (max-width: 768px) {
    .navbar {
        padding: 0 20px;
    }

    .hamburger {
        display: block;
        z-index: 10000;
    }

    .hire-btn-container {
        display: none;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: rgba(10, 10, 13, 0.95);
        backdrop-filter: blur(25px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        transition: 0.4s ease-in-out;
        z-index: 9998;
        border-left: 1px solid rgba(255, 255, 255, 0.05);
    }

    .nav-links.open {
        right: 0;
    }

    .nav-links a {
        font-size: 20px;
    }
}